  .front {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  hr { 
      border: 0; 
      height: 1.5px !important; 
      width: 70%;
      margin: auto;
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }

  .w-40 {
    width: 40%;
  }


  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }


  /* Courses Card */
  .teacher-text {
    font-size: 12px;
  }

  .delete-price {
    text-decoration-line: line-through;
    display: inline;
  }

  /* Start Rating */
  .number-rating {
    color:#BE5A0E;
    font-weight: bold;
  }

  .number-rates {
    color:#8c8b8b;
  }

  .stars-outer {
    position: relative;
    display: inline-block;
  }

  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    letter-spacing: 2px;
  }

  .stars-outer::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
    letter-spacing: 2px;
  }

  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
  }





/* course-intro */
.course-detail {
  height: 32vw;
  background-color: #3659A2;
}

.course-detail-img {
  margin-top: 13%;
  max-height: 58%;
  border-radius: 2%;
}

/* Tooltip custom */
.tooltip-inner {
  background-color: #37294C;
}
.tooltip.bs-tooltip-right .arrow:before {
  display: none;
}
.tooltip.bs-tooltip-left .arrow:before {
  display: none;
}
.tooltip.bs-tooltip-bottom .arrow:before {
  display: none;
}
.tooltip.bs-tooltip-top .arrow:before {
  display: none;
}



/* Tab */
.show {
  color: #37294C;
}

.nav-tabs .active {
  color:#f0f0f0 !important;
  background-color: #3659A2 !important;
  border-bottom: solid 5px !important;
}

.nav-tabs .active:hover {
  color:#ccc !important;
}

.nav-link {
  color:#f0f0f0;
  font-weight: 500;
}

.nav-tabs .nav-link {
  border:none;
}

.nav-link:hover {
  color: #ccc;
}

/* Tab content*/

.tab-content {
  color:#37294C;
  width: 50%;
}

/* description */

ul {
  list-style: none;
}


.tab-content .active {
  animation: fadeInLeft 0.7s;
}

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
} 


#description > p , li {
  color:black;
}

#description > h3 {
  padding-top: 15px;
}